@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-primary: #127387;
  /* Lighter Teal */
  --color-brand-primary-hover: #0f6271;
  --color-brand-secondary: #2299b0;
  /* Light Cyan/Teal */
  --color-brand-secondary-hover: #1e869a;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50;
  }
}

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-zinc-200 dark:bg-zinc-800 rounded-full;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-300 dark:bg-zinc-700;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}