@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-primary: #127387;
  /* Lighter Teal */
  --color-brand-primary-hover: #0f6271;
  --color-brand-secondary: #2299b0;
  /* Light Cyan/Teal */
  --color-brand-secondary-hover: #1e869a;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #12738733;
  /* Brand Primary with 20% opacity */
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #12738766;
  /* Brand Primary with 40% opacity */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #12738733 transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}